@import url(./fonts.scss);
@import url(./vars.scss);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

input, textarea, button {
  border: none;
  &:focus {
    outline: none;
  }
}

textarea {
  resize: none;
}

a {
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-weight: 600;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.container-inner {
  padding: 0 32px;
}

.sidebar-layout {
  background: rgba(255, 254, 251, 0.8);
  &__grid {
    padding: 0 32px;
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-gap: 16px;
  }
}
.sidebar {
  grid-column: 1 / 5;
  position: sticky;
  position: -webkit-sticky;
  top: 24px;
}
.sidebar-layout__content {
  grid-column: 5 / 17;
}



/*
** Form styles
*/
.form-wrapper {
  padding: 8px 24px 24px 24px;
}

.form-field {
  margin: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  position: relative;
  & textarea {
    padding: 10px 0 11px 16px;
  }
  &__errors {
    position: absolute;
    bottom: -14px;
    left: 0;
    font-size: 8px;
    line-height: 10px;
    letter-spacing: -0.02em;
    color: #FF8484;
  }
}

.form-label {
  padding: 0 0 4px 0;
  font-size: 10px;
  letter-spacing: -0.02em;
  color: #49485E;
  width: fit-content;
  position: relative;
  &__required {
    position: absolute;
    top: 0;
    right: -4px;
    height: 4px;
    width: 4px;
    border-radius: 100%;
    background: #FF8484;
  }
}

.form-input {
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 10px 0 11px 16px;
  color: #3F3F3F;
  font-size: 12px;
  line-height: 15px;
  transition: all .6s ease;
  border: 1px solid transparent;
  &::placeholder {
    color: #B4B4B4;
  }
  &:focus {
    border: 1px solid #1771D8;
  }
}
.is-invalid {
  border: 1px solid #FF8484;
}

.button-submit {
  border-radius: 10px;
  width: 100%;
  margin: 24px 0 0 0;
  padding: 10px 0 11px 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  background: #7BAE73;
  color: #fff;
  &:disabled {
    color: #B4B4B4;
    background: #EEEEEE;
  }
}

/*
** Cards & Card grid
*/
.cards-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 16px;
}
.cards-grid__loading {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 16px;
}
.card {
  background: #FFFEFB;
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
  border-radius: 4px;
  cursor: pointer;
  &-image {
    height: 200px;
    background-position: center center;
    background-size: cover;
    position: relative;
  }
  &-text {
    padding: 16px 16px 24px 16px;
    &__title {
      font-size: 20px;
      line-height: 25px;
    }
    &__desc {
      padding: 16px 0 32px 0;
      font-size: 16px;
      line-height: 20px;
    }
    &__price {
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
    }
  }
}